body{background-color:black}
#container{background-color:green;
	width:960px;
}
#box1, #box2, #box3{background-color:blue;
	height:200px;
	width:200px;
	border:1px solid black;
	margin:0px 20px;
	padding:20px;
}
#box1, #box2, #box3{float:right;}
