#webber{
	width:970px;
	height:auto;
	overflow:hidden;
	background-color:grey;
}
#left{
	width:600px;
	display:inline-block;
}
#right{
	width:360px;
	height:440px;
	display:inline-block;
	background-color:red;
	vertical-align:top;
}
#white{
	background-color:white;
	width:330px;
	height:420px;
	margin:10px 0px 0px 10px;
	padding-left:10px;
}